# SPDX-FileCopyrightText: 2023 Rebel Engine contributors
# SPDX-FileCopyrightText: 2014-2022 Godot Engine contributors
# SPDX-FileCopyrightText: 2007-2014 Juan Linietsky, Ariel Manzur
#
# SPDX-License-Identifier: MIT

# Rebel SDK .gitignore

# Build generated
*.a
*.dll
*.lib
*.lo
*.o
*.obj
*.so
*.bc

# Rebel Engine
RebelEngine/
logs/
api.json

# SCons
.sconsign.dblite

# Code::Blocks
*.cbp
*.depend
*.layout
